$arka-plan: turquoise;

body{
    background-color: $arka-plan;
}
div{
    button{
height:32px;
width:70px;
    }
}
div.list-group{
    button{
        height:32px;
        width: 120px;
    }
}
img{
    width:50%;
}
div.col-sm-6{
    
    img{
        width: 70%;
        max-height: 250px;
    }}



